
.navbar 
{
  padding: 20px;
  text-decoration: none;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 1px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 1px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 1px -3px rgba(0,0,0,0.75);
}

.navbar * 
{
  text-decoration: none;
  font-weight: 600;
  color: green;
}

.navbar-right > *
{
  padding: 40px;
}

.navbar img 
{
  width: 280px;
  height: 90px;
  margin: 0px;
}
.dropbtn {
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  text-align: center;
}

.dropdown {
  text-align: center;
}

.dropdown-content {
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover 
{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content 
{
  display: block;
  text-align: center;
}

.signup-box
{
  place-content: center;
  margin-top: 100px;
  border: 3px solid green;
  margin-left: 500px;
  margin-right: 500px;
}

.signup-box *
{
  text-align: center;
  margin: 5px;
  color: green;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}

.signup
{
  display: block;
}

.logind-box
{
  place-content: center;
  margin-top: 100px;
  border: 3px solid green;
  margin-left: 500px;
  margin-right: 500px;
}

.logind-box *
{
  text-align: center;
  color: green;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}

.logindbox
{
  margin: 8px;
}

.signuptext
{
  margin-top: 20px;
}

.blivmedlem
{
  margin-bottom: 10px;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 96,5%;
  background: green;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.wrong *
{
  color: red;
}

.bookoverskrift
{
  text-align: center;
  color: green;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium; 
}