<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>

        <div class = "signup-box">
            <h1> OPRET EN KONTO</h1>
            <form method = "POST" action = '/Bliv_medlem' enctype="multipart/form-data">
                <div class = "signup">
                    <input type = "title" class = "signbrugernavnbox" name = "Brugernavn" placeholder="Brugernavn" required = "True">
                    <input type = "password" class = "signadgangskodebox" name = "Adgangskode" placeholder="Adgangskode" required = "True">
                </div>                                
            <input class="button" type="submit" value="OPRET">
        </div>
            </form>

</body>    

</html>