<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
        <div class = "logind-box">
            <h2>LOG PÅ DIN KONTO</h2>
            <form method = "POST" action = '/logind' enctype="multipart/form-data">
                <div class = "logindbox">
                    <input type = "title" class = "logindbruger" name = "Brugernavn" placeholder="Brugernavn" required = "True">
                    <input type = "password" class = "logindpass" name = "Adgangskode" placeholder="Adgangskode" required = "True">
                </div>                                
            <input class="button" type="submit" value="Log ind">
            <div class="wrong">
            {% if current_user == False %}
                <p>Forkert brugernavn eller adgangskode</p>
            {% endif %}
            </div>

            <div class="blivmedlem">
                <div class="signuptext">
                    <div>Har du ikke en konto?<div>
                </div>
                <a href="/Bliv_medlem">
                    <div>Bliv medlem<div>
                    </a>
            </div>

        </form>

</body>    

</html>