{% include 'header.html' %}

<html>

    <body>
    <h1>Her kan du booke {{ valgt_sport }}</h1>
    <div class="month">
        <ul>
          <li class="prev">&#10094;</li>
          <li class="next">&#10095;</li>
          <li>Maj<br><span style="font-size:18px">2024</span></li>
        </ul>
      </div>
      
      <ul class="weekdays">
        {% for udag in ugedage %}
            <li>{{ udag }}</li>
        {% endfor %}
      </ul>
          
    <div class = "days">
        <form method = "POST" action = '/valgt' enctype="multipart/form-data">
            <div>
                {% for udag in dage %}
                    <input type = "radio" id = "vlgt" name = "vlgt" value = {{udag}}>
                    <label for="vlgt">{{ udag }}</label><br>
                {% endfor %}
            </div>
            <input class="button" type="submit" value="Book">
        </form>
    </div>        
    </body>
</html>